/* .feedbackList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.change {
    color: #010101;
    transform: scale(1.5);
} */