.feedback__list {
    display: flex;
    flex-direction: column;
    font-size: 21px;
}

.feedback__vote {
    display: flex;
    gap: 10px;

}

.feedback__statistic {
    display: flex;
    gap: 10px;
}