.options__list {
    display: flex;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

.option__button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #D4C9BE;
}

.button__reset {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 18px;
    background-color: #BE3D2A;
    color: #F2EFE7;
}